{% extends 'base.html' %}

{% block content %}
    <div class="d-flex">
        <div class="card m-5" style="width: 40rem; height: auto;">
        <div>
            <h2 class="m-4">Add an Event</h2>
            <input type="text" class="form-control mt-3 mb-3 me-4 ms-4 form-group-lg" placeholder="Search for a location" style="width:92%;">
            <div style="overflow: scroll; height: 13rem">
                <table class="table mt-3 mb-3 me-4 ms-4 table-borderless" style="width: 70%">
                    <tbody>
                        <tr>
                            <td><button class="btn btn-secondary" onclick="vars.location = 1">Location 1</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex">
            <div>
                <input inputmode="decimal" type="number" class="mt-3 mb-3 me-4 ms-4 form-control form-control-lg" id="hours"
                style="width: 5rem;" required placeholder="Hours" aria-label="Hours" min="0" step="0.5">
            </div>
            <div>
                <input type="date" class="mt-3 mb-3 me-4 ms-4 form-control form-control-lg" id="date"
                style="width: 9rem;" required placeholder="Date of event" aria-label="Date of event">
            </div>
            <div>
                <input type="time" class="mt-3 mb-3 me-4 ms-4 form-control form-control-lg" id="time"
                style="width: 6.5rem;" required placeholder="Time of event" aria-label="Time of event">
            </div>
        </div>
        <div>
            <input class="mt-3 mb-3 me-4 ms-4 form-control form-control-lg" id="affiliation-text"
            style="width:92%;" required placeholder="Affiliation Text" aria-label="Affiliation Text">
        </div>
        <div data-mdb-input-init class="form-outline mt-3 mb-3 me-4 ms-4" style="width:92%;">
            <textarea class="form-control form-control-lg" id="textAreaExample1" rows="4" aria-label="Description" required placeholder="Description"></textarea>
        </div>
        <div>
            <button class="btn btn-primary mt-3 mb-4 me-4 ms-4" type="submit" style="float: right;" onclick="add_event()">Submit</button>
        </div>
    </div>
    <div class="card m-5" style="width: 40rem; height: auto;">
        <div>
            <h2 class="m-4">Add a Location</h2>
            <input type="text" class="form-control mt-5 mb-5 me-4 ms-4 form-group-lg" placeholder="Name of Location" style="width:92%;" aria-label="Location">
            <input type="text" class="form-control mt-5 mb-5 me-4 ms-4 form-group-lg" placeholder="Street Address" style="width:92%;" aria-label="Address">
            <input type="text" class="form-control mt-5 mb-5 me-4 ms-4 form-group-lg" placeholder="City Name" style="width:67%;" aria-label="City Name">
            <select class="form-select mt-5 mb-5 me-4 ms-4 form-control-lg" id="state" style="width: 45%;" aria-label="state">
                <option selected disabled class="form-control-lg">Select State</option>
                <option value="Alabama" class="form-control-lg">Alabama</option>
                <option value="Alaska" class="form-control-lg">Alaska</option>
                <option value="Arizona" class="form-control-lg">Arizona</option>
                <option value="Arkansas" class="form-control-lg">Arkansas</option>
                <option value="California" class="form-control-lg">California</option>
                <option value="Colorado" class="form-control-lg">Colorado</option>
                <option value="Connecticut" class="form-control-lg">Connecticut</option>
                <option value="Delaware" class="form-control-lg">Delaware</option>
                <option value="Florida" class="form-control-lg">Florida</option>
                <option value="Georgia" class="form-control-lg">Georgia</option>
                <option value="Hawaii" class="form-control-lg">Hawaii</option>
                <option value="Idaho" class="form-control-lg">Idaho</option>
                <option value="Illinois" class="form-control-lg">Illinois</option>
                <option value="Indiana" class="form-control-lg">Indiana</option>
                <option value="Iowa" class="form-control-lg">Iowa</option>
                <option value="Kansas" class="form-control-lg">Kansas</option>
                <option value="Kentucky" class="form-control-lg">Kentucky</option>
                <option value="Louisiana" class="form-control-lg">Louisiana</option>
                <option value="Maine" class="form-control-lg">Maine</option>
                <option value="Maryland" class="form-control-lg">Maryland</option>
                <option value="Massachusetts" class="form-control-lg">Massachusetts</option>
                <option value="Michigan" class="form-control-lg">Michigan</option>
                <option value="Minnesota" class="form-control-lg">Minnesota</option>
                <option value="Mississippi" class="form-control-lg">Mississippi</option>
                <option value="Missouri" class="form-control-lg">Missouri</option>
                <option value="Montana" class="form-control-lg">Montana</option>
                <option value="Nebraska" class="form-control-lg">Nebraska</option>
                <option value="Nevada" class="form-control-lg">Nevada</option>
                <option value="New Hampshire" class="form-control-lg">New Hampshire</option>
                <option value="New Jersey" class="form-control-lg">New Jersey</option>
                <option value="New Mexico" class="form-control-lg">New Mexico</option>
                <option value="New York" class="form-control-lg">New York</option>
                <option value="North Carolina" class="form-control-lg">North Carolina</option>
                <option value="North Dakota" class="form-control-lg">North Dakota</option>
                <option value="Ohio" class="form-control-lg">Ohio</option>
                <option value="Oklahoma" class="form-control-lg">Oklahoma</option>
                <option value="Oregon" class="form-control-lg">Oregon</option>
                <option value="Pennsylvania" class="form-control-lg">Pennsylvania</option>
                <option value="Rhode Island" class="form-control-lg">Rhode Island</option>
                <option value="South Carolina" class="form-control-lg">South Carolina</option>
                <option value="South Dakota" class="form-control-lg">South Dakota</option>
                <option value="Tennessee" class="form-control-lg">Tennessee</option>
                <option value="Texas" class="form-control-lg">Texas</option>
                <option value="Utah" class="form-control-lg">Utah</option>
                <option value="Vermont" class="form-control-lg">Vermont</option>
                <option value="Virginia" class="form-control-lg">Virginia</option>
                <option value="Washington" class="form-control-lg">Washington</option>
                <option value="West Virginia" class="form-control-lg">West Virginia</option>
                <option value="Wisconsin" class="form-control-lg">Wisconsin</option>
                <option value="Wyoming" class="form-control-lg">Wyoming</option>
            </select>
            <input type="number" min="0" class="form-control mt-5 mb-5 me-4 ms-4 form-group-lg" placeholder="Zip Code" style="width:45%;" aria-label="Zip Code">
        </div>

        <div>
            <button class="btn btn-primary mt-3 mb-4 me-4 ms-4" type="submit" style="float: right;" onclick="add_event()">Submit</button>
        </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        let vars = {}
        function add_event() {
            let hours = document.getElementById("hours").value
            let date = document.getElementById("date").value
            let time = document.getElementById("time").value
            let affiliation_text = document.getElementById("affiliation-text").value
            let description = document.getElementById("textAreaExample1").value
            fetch("/api/submit-event?hours=" + hours + "&date=" + date +  "&time=" + time + "&affiliation=" + affiliation_text + "&description=" + description + "&location=" + vars.location, {
                credentials: "same-origin",
                method: "POST"
            })
        .then(response => response.json())
        .then(data => {
            if (data.success === true) {
                const redirectUrl = data.redirect_url;
                window.location.href = redirectUrl;
            } else {
                console.log(data.error);
            }
        })
        .catch(error => console.error("Error:", error));
    }
    </script>
{% endblock %}