<nav class="sidebar offcanvas-start offcanvas-md" tabindex="-1" id="sidebar-example" aria-label="Sidebar Navigation">
  <div class="offcanvas-body">
    <div class="mt-2 mb-3">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <ul class="sidebar-nav">
        <li>
        <h6 class="sidebar-header">Time Well Spent</h6>
      </li>
      <li><hr class="sidebar-divider"></li>
      <li class="nav-item">
        <a class="nav-link {% if active_page == 'dashboard' %}active{% endif %}" href="/home" aria-current="page">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active_page == 'add-event' %}active{% endif %}" href="/add-event" aria-current="page">Add Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active_page == 'view-events' %}active{% endif %}" href="/view-events" aria-current="page">View Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active_page == 'export-event' %}active{% endif %}" href="/export-event" aria-current="page">Export Event</a>
      </li>
    </ul>
  </div>
</nav>