{% extends 'base.html' %}

{% block content %}
<div class="card m-5">
    <h2 class="card-title m-4">Your Events</h2>
    <div class="card-body">
        <table class="table">
          <caption>A list of all your community service/volunteer events</caption>
          <thead>
            <tr>
              <th scope="col">Location</th>
              <th scope="col">Hours</th>
              <th scope="col">Description</th>
              <th scope="col">affiliation</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.location }}</td>
                    <td>{{ event.hours }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.affiliation }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

{% endblock %}

